$primary-color: blue;
$secondary-color:red;
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700,
);

body{
    background-color: $primary-color;
    font-weight: map-get($font-weights, bold); 
}